<div class="content-session-form-signin">
    <form method="post" action="" class="content-session-form-signin__group">
        <label for="username">Name</label>
        <input type="text" name="email" id="username">
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
        <button class="btn" type="submit">Login</button>
    </form>
</div>