<div class="footer">
    <div class="container">
        <div class="footer-content d-flex justify-content-between">
            <div class="footer-content__item w-50 me-5">
                <h3>Finance Data</h3>
                <ul class="list-group">
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
            <div class="footer-content__item w-50 me-5">
                <h3>Finance book</h3>
                <ul class="list-group">
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
            <div class="footer-content__item w-50">
                <h3>Finance course</h3>
                <ul class="list-group">
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
        </div>
        <div class="footer-info">
            <div class="row">
                <div class="col-xl-6">
                    <h4>Ads</h4>
                    <p>0945756002</p>
                    <p>ads@vnfuture.vn</p>
                </div>
                <div class="col-xl-6">
                     <h4>Career</h4>
                    <p>0945756002</p>
                    <p>recruitment@vnfuture.vn</p>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body d-flex">
                <p class="card-text">© copyright belong to Vnfuture</p>
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>