<div class="home-page">

  {{!-- Banner --}}
  <div class="container d-flex">
    <div id="carousel-slider-categories" class="carousel carousel-background slide w-75" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://theme.hstatic.net/1000237375/1000756917/14/slider_item_1_image.jpg?v=1061" class="d-block w-100" height="300" alt="img-banner-1">
        </div>
        <div class="carousel-item">
          <img src="https://theme.hstatic.net/1000237375/1000756917/14/slider_item_2_image.jpg?v=1062" class="d-block w-100" height="300" alt="img-banner-2">
        </div>
        <div class="carousel-item">
          <img src="https://theme.hstatic.net/1000237375/1000756917/14/slider_item_5_image.jpg?v=1062" class="d-block w-100" height="300" alt="img-banner-3">
        </div>
      </div>
      <button class="carousel-control-home carousel-control-prev" type="button" data-bs-target="#carousel-slider-categories" data-bs-slide="prev">
        <span class="slider-banner slider-banner-prev" aria-hidden="true">
            <i class="carousel-control-prev-icon"></i>
        </span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-home carousel-control-next" type="button" data-bs-target="#carousel-slider-categories" data-bs-slide="next">
        <span class="slider-banner slider-banner-next" aria-hidden="true">
            <i class="carousel-control-next-icon"></i>
        </span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <ul class="car list-group w-25">
      <li class="list-group-item h-50">
        <img src="https://theme.hstatic.net/1000237375/1000756917/14/slider_item_5_image.jpg?v=1062" class="img-thumbnail" alt="...">
      </li>
      <li class="list-group-item h-50">
        <img src="https://theme.hstatic.net/1000237375/1000756917/14/slider_item_5_image.jpg?v=1062" class="img-thumbnail" alt="...">
      </li>
    </ul>

  </div>


  {{!-- Categories --}}
  <div id="carousel-categories" class="carousel slide w-100 carousel-background mt-5">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
            <div class="col-xl-4"></div>
        </div>
      </div>
    </div>
    <button class="carousel-control-home carousel-control-prev" type="button" data-bs-target="#carousel-categories" data-bs-slide="prev">
      <span class="slider-banner slider-banner-prev" aria-hidden="true">
          <i class="carousel-control-prev-icon"></i>
      </span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-home carousel-control-next" type="button" data-bs-target="#carousel-categories" data-bs-slide="next">
      <span class="slider-banner slider-banner-next" aria-hidden="true">
          <i class="carousel-control-next-icon"></i>
      </span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

  {{!-- --}}